.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 3rem 1rem 3rem;
    font-family: 'Hind', sans-serif;
    font-weight: 600;

    .App-logo {
        width: 9rem;
        display: flex;
        justify-content: flex-start;
      }
 
    .App-links-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        .App-links1, .App-links2, .App-links3{
            text-decoration: none;
            color: white;
            margin-left: 2rem;
            &:hover {
                color: #f04e24;
                transition: .5s;
            }
        } 

        .App-links4, .App-links5, .App-links6 {
            text-decoration: none;
            color: white;
            margin-left: 2rem;
        }

        .login-signup-section{
            display: flex;
            align-items: center;

            .App-links7 {
                text-decoration: none;
                color: white;
                margin-left: 2rem;
                &:hover {
                    color: #f04e24;
                    transition: .5s;
                }
            }
    
            .divider {
                margin: .5rem;
                color: white;
            }
    
            .App-links8 {
                text-decoration: none;
                color: white;
                &:hover {
                    color: #f04e24;
                    transition: .5s;
                }
            }
        }
    }
}



  