

#signup-form{
    width: 100%;
    display: flex;
    justify-content: center;

    .signup-container{
        background-color: white;
        padding: 2rem;
        max-width: 75%;
        margin: 2rem;
        display: block;

        .form-title{

        }
    }

}