#signup-modal {
    width: 25%;
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 20px 20px 50px rgb(7, 7, 7);

    #signup-form {
        width: 100%;

        .signup-container {
            display: block;
            max-width: 100%;

            .redirect {
                font-size: 2rem;
                font-family: 'Hind', sans-serif;
                color: grey;
                font-weight: 400;
                height: 100%;
                text-align: center;
                .redirect-link {
                    margin-left: .5rem;
                    text-decoration: none;
                    color: #ff4800;

                    &:hover {
                        color: grey;
                        transition: .5s;
                    }
                }
            }

            .form-title {
                font-family: 'Hind', sans-serif;
                font-weight: 700;
                font-size: 1.5rem;
                color: #ff4800;
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
            }

            .input-section {
                display: block;
                justify-content: center;
                margin-bottom: 1.5rem;
                max-width: 100%;

                .label-input {
                    font-size: 1rem;
                    font-family: 'Hind', sans-serif;
                    color: grey;
                    font-weight: 400;
                    height: 100%;
                }

                .inputBox {
                    display: block;
                    width: 94%;
                    border: none;
                    background-color: rgb(231, 231, 231);
                    height: 2.5rem;
                    padding-left: 1rem;
                    margin: 0;
                }
            }

            .button-section {
                display: flex;
                justify-content: center;
                margin: 1rem 0 1rem 0;
                width: 100%;

                .btn {
                    border: none;
                    padding: 1rem;
                    background-color: #ff4800;
                    font-family: 'Hind', sans-serif;
                    display: flex;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                    width: 100%;
                }

                .btn:hover {
                    transition: .5s;
                    color: #ff4800;
                    background-color: white;
                    border: solid;
                    border-color: #ff4800;
                    font-weight: 400;
                }
            }

            .login-section {
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-family: 'Hind', sans-serif;
                color: grey;
                width: 100%;
                font-size: .75rem;
                margin-bottom: 1rem;

                .login-link {
                    margin-left: .2rem;
                    text-decoration: none;
                    color: #ff4800;

                    &:hover {
                        color: grey;
                        transition: .5s;
                    }
                }
            }

            .alert {
                text-align: center;
                font-family: 'Hind', sans-serif;
                font-weight: 700;
                color: #ff4800;
            }
        }
    }
}